*{
margin:0px;
padding:0px;
}
@font-face{
src:url('../fonts/Lato-Lig.ttf');
font-family:'LatoLight';
}
@font-face{
src:url('../fonts/Lato-Bol.ttf');
font-family:'LatoBold';
}
@font-face{
src:url('../fonts/Montserrat-Bold.ttf');
font-family:'MontserratBold';
}
@font-face{
src:url('../fonts/BrandonGrotesqueMedium.ttf');
font-family:'BGMedium';
}
@font-face{
src:url('../fonts/fontello.ttf');
font-family:'fontello';
}
@font-face{
src:url('../fonts/fontello2.ttf');
font-family:'fontello2';
}
body{
background:rgba(0,0,0,.11);
}
.container{
font-family:'LatoLight';
width:80%;
margin-left:10%;
background:#fff;
}
.right_top_path{
padding:15px 32px;
width:100%;
padding-bottom:18px;
}
.path_single{
margin-left:4px;
font-size:15px;
font-weight:bold;
cursor:pointer;
position:relative;
margin-left:15px;
}
.path_single:after{
position:absolute;
top:0px;
right:-13px;
font-family:'fontello';
content:'\e802';
font-size:15px;
}
.path_single:last-child:after{
display:none;
}
.path_single:first-child{
margin-left:0px;
}
.product_lower_container{
width:100%;
min-height:200px;
padding-left:32px;
}
.lower_left_container{
height:100%;
width:40%;
float:left;
}
.lower_right_container{
height:100%;
width:60%;
float:left;
}

.lower_right_other_price, .lower_right_actual_price{
margin-top:7px;
}
.lower_right_actual_price{
font-family:'MontserratBold';
font-size:17px;
padding:4px 0px;
}
.price_strike{
text-decoration:line-through;
}
.price_discount{
font-weight:bold;
color:rgb(111,186,84);
margin-left:5px;
}
.lower_right_name{
font-size:17px;
font-weight:bold;
}
.lower_right_buy{
margin:12px 0px;
}
.lower_right_buy_button{
background:rgb(111,186,84);
padding:8px 22px;
color:#fff;
font-family:'LatoLight';
font-size:16px;
border:none;
cursor:pointer;
}
.wishlist_button{
background:#e67e22;
padding:8px 22px;
color:#fff;
font-family:'LatoLight';
border:none;
cursor:pointer;
font-size:16px;
}
.specs_single{
font-family:'MontserratBold';
font-size:15px;
padding:7px 0px;
}
.lower_right_specs{
padding:12px 8px;
}
.product_options_container{
width:70%;
margin-left:0%;
margin-top:16px;
min-height:400px;
margin-left:15%;
}
.options_tabs_container{
padding:22px 0px;
width:100%;
}
.options_body_container{
position:relative;
width:90%;
}
.options_tab_single{
padding:10px 21px;
font-family:'LatoLight';
font-size:16px;
float:left;
color:#000;
cursor:pointer;
padding-bottom:13px;
border-bottom:1px solid rgba(0,0,0,.09);
position:relative;
}
.options_tab_single.selected_list:before{
position:absolute;
top:100%;
left:50%;
border:10px solid transparent;
border-top-color:rgb(231,236,234);
content:'';
}
.options_tab_single.selected{
color:#fff;
background:rgb(111,186,84);
}
.options_tab_single_clear{
clear:both;
}
.options_tabs_container ul{
list-style-type:none;
}
.lower_clear{
clear:both;
}
.left_image_container{
border:1px solid rgba(0,0,0,.09);
height:320px;
width:360px;
margin-top:14px;
}
.left_image_container img{
margin-top:120px;
width:280px;
height:80px;
margin-left:40px;
}
.other_products_container{
width:100%;
min-height:320px;
}
.other_products_title{
font-family:'MontserratBold';
font-size:18px;
width:100%;
padding:14px 0px;
text-align:center;
border-bottom:1px solid rgba(0,0,0,.13);
}
.other_products_body{
padding:23px 0px; 
margin-left:7%;
}
.other_product_product{
float:left;
height:140px;
width:280px;
margin-right:37px;
margin-top:33px;
}
.other_product_clear{
clear:both;
}
.other_product_image{
width:140px;
}
.other_product_image img{
height:80px;
width:280px;
}
.other_product_name{
font-family:'LatoLight';
font-size:16px;
font-weight:bold;
padding:13px 0px;
width:280px;
text-align:center;
}
.other_product_buttons{
width:100%;
text-align:center;
}
.options_body_single{
position:absolute;
top:0px;
left:0px;
height:100%;
width:100%;
opacity:0;
pointer-events:none;
z-index:-3;
}
.options_body_single.single_visible{
opacity:1;
pointer-events:auto;
z-index:1001;
}
.single_product_first{
background:rgba(0,0,0,.13);
min-height:28px;
padding-top:12px;
}
.single_product_second{
min-height:28px;
padding-top:12px;
}
.product_first_left{
float:left;
width:70%;
padding-left:1%;
}
.product_first_right{
float:right;
width:24%;
padding-right:1%;
}
.product_first_clear{
clear:both;
}
.options_guarantee_title, .options_reviews_title, .options_shipping_title, .options_testimonials_title{
font-family:'MontserratBold';
font-size:20px;
padding:16px 0px;
padding-bottom:6px;
width:100%;
text-align:center;
}
.options_guarantee_inner_body{
font-family:'LatoLight';
font-size:16px;
padding:14px 0px;
width:100%;
text-align:center;
line-height:24px;
}
.options_testimonials_body{
line-height:24px;
font-size:16px;
}
.free_shipping_container{
font-family:'MontserratBold';
font-size:18px;
padding-top:12px;
color:rgba(0,0,0,.93);
}